body{
    overflow: hidden;
}

#navigation{
    background-color: lightskyblue ;
    overflow:hidden;
}

#nav{
    background-color: lightskyblue ;
    height: 15% ;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    background-color: lightskyblue ;
    height: 10% ;
}

.content{
    height: 80% ;
}
