body{
    overflow-x: hidden;
}

#navigation{
    background-color: lightblue;
    overflow:hidden;
}

#nav{
    background-color: lightskyblue ;
    height: 15% ;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    background-color: lightskyblue ;
    height: 10% ;
}

.content{
    height: 80% ;
}

#buttonlogin {
<<<<<<< HEAD
   
  
    margin: 0px 5px;
}

#buttonregistreren{
    
   
    margin: 0px 5px;
=======
    position: relative;
    float: right;
    margin: 1px 5px;
}

#buttonregistreren{
    position: relative;
    float: right;
    margin: 1px 5px;
>>>>>>> c069f20c45d6843869315c6c58ada6321e0f6075
}

#contact {
    text-indent: 100px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
}
.img{
    width: 100%;
    height: 250px;
}

.homelink a:link, a:visited, a:hover, a:active {
  background-color: none;
  color: black;
  text-align: center;
  text-decoration: none;
}

.h5home{
    color: black;
}

<<<<<<< HEAD
.imginformatie {
    position: relative;
    top: 0px;
    right: 0px;
    float: right;

}

#informatie {
    display: flex;
    justify-content: center;
    align-items: center;
}
=======
>>>>>>> c069f20c45d6843869315c6c58ada6321e0f6075
